PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/mitra-mandal
JWT_SECRET=super_secret_mitra_mandal_key_2026_jwt_access
JWT_REFRESH_SECRET=super_secret_mitra_mandal_key_2026_jwt_refresh
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5000
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=user
EMAIL_PASSWORD=password
NODE_ENV=development
