PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5000

# Admin Registration Security Code
ADMIN_SECRET_CODE=101005

# MongoDB URI
MONGODB_URI=mongodb://127.0.0.1:27017/mitra-mandal

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# JWT Secrets
JWT_SECRET=super_secret_mitra_mandal_key_2026_jwt_access
JWT_REFRESH_SECRET=super_secret_mitra_mandal_key_2026_jwt_refresh
